li.dropdown:hover>ul.dropdown-menu {
    display: block;
}

li.dropdown-submenu:hover>ul.dropdown-menu {
    display: block;
}

.submenu-left {
    left: auto;
    right: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}